{% extends "base.html" %}
{% block content %}
  <h2>Novo Empréstimo</h2>
  <form method="post">
    <label>Usuário:
      <select name="usuario_id">
        {% for u in usuarios %}
        <option value="{{ u.id }}">{{ u.nome }} ({{ u.email }})</option>
        {% endfor %}
      </select>
    </label><br>
    <label>Livro:
      <select name="livro_id">
        {% for l in livros %}
        <option value="{{ l.id }}">{{ l.titulo }} (ISBN: {{ l.isbn }})</option>
        {% endfor %}
      </select>
    </label><br>
    <button type="submit">Emprestar</button>
  </form>
{% endblock %}
